<!DOCTYPE HTML>
<html>
<head>
    <title>AQ Ticks</title>
    <script type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <!--
    <style type="text/css">body{margin:10px auto;max-width:1250px;line-height:1.6;font-size:18px;color:#444;padding:0 10px}h1,h2,h3{line-height:1.2}</style>
    -->
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <!-- jQuery first, then Popper.js, then Bootstrap JS 
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>


    <!--
    <script src="https://cdn.fancygrid.com/fancy.min.js"></script>
    <script src="https://code.highcharts.com/stock/highstock.js"></script>
    -->
    <link href="https://cdn.fancygrid.com/fancy.min.css" rel="stylesheet">

    <script src="http://cdn.fancygrid.com/fancy.full.min.js"></script>    
    <script src="https://cdn.fancygrid.com/jquery.sparkline.min.js"></script>

    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>    
    <script src="https://cdn.fancygrid.com/highchart-gray-theme.js"></script>

    <style>
        .photo img {
        width: 80px;
        max-width: none;
        margin-top: -5px;
        margin-left: -10px;
        }

        .id-column-cls .fancy-grid-cell-inner {
        margin-top: 30px;
        margin-left: 14px;
        font-size: 14px;
        }

        .id-column-cls .fancy-grid-cell {
        border-right: 1px solid rgb(211, 219, 225) !important;
        background-color: rgb(240, 242, 244);
        }
    </style>

    <script src="static/app.js"></script>
    <script src="static/sector_charts.js"></script>

</head>
<body>
    <div class="container-fluid">

    <h1>AQ Signals</h1>
    <p>Async mode is: <b>{{ async_mode }}</b></p>
    <p>Average ping/pong latency: <b><span id="ping-pong"></span> (ms)</b></p>
    <p>latency details: <b><span id="latency"></span></b></p>

    <h2>Command:</h2>
    <form id="emit" method="POST" action='#'>
        <input type="text" name="emit_data" id="emit_data" placeholder="Message">
        <input type="submit" value="Setting">
    </form>
    <form id="broadcast" method="POST" action='#'>
        <input type="text" name="broadcast_data" id="broadcast_data" placeholder="Message">
        <input type="submit" value="Halt">
    </form>

    <form id="disconnect" method="POST" action="#">
        <input type="submit" value="Disconnect">
    </form>

    <hr>
    <div id="log">log:</div>
    <h3>debug:</h3>
    <div id="debug"></div>
    <hr>
    <div id="priceChart"></div>    
    <!-------------------------------------------->

    <hr>
    <h2>Real-time chart:</h2>
    <div id="topsChart"></div>
    
    <hr>
    <div class="row">
      <div id="bubbleChart" class="col"></div>            
      <div id="minuteChart" class="col"></div>
    </div>

    <hr>
    <div class="row">
      <div id="sectorBubble" class="col"></div>            
      <div id="sectorChart" class="col"></div>
    </div>

    <hr>
    <div id="mychart"></div>
    <hr>
    <h2>Live positions:</h2>
    <div id="live_positions_html"></div>

    <hr>
    <h2>Long/Short ranking: </h2>
    <hr>
    <div class="row">
        <div class="col">
            <strong>Long -</strong>
            <div id="signals_rank_long"></div>
        </div>
        <div class="col">
            <strong>Short -</strong>
            <div id="signals_rank_short"></div>
        </div>
    </div>

    <hr>
    <strong><div id="orders_hist_html"></div></strong>

    <hr>
    <h2>Signals - $$$:</h2>
    <div id="signal"></div>

    <hr>
    <h2>Summary:</h2>
    <div id="summary"></div>


    <!-- end container -->
    </div>
</body>
</html>
